[color]
  ui = auto

[user]
  name  = tamtam255
  email = tamtam.highbridge@gmail.com

[alias]
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  st = status
  cm = commit
  br = branch
  co = checkout
[core]
  editor = vim -c \"set fenc=utf-8\"
